body {
	background: url("../images/village.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.jumbotron {
	text-align: center;	
	color: red;
}

.page-header {
	color: white;
}

.buttons {
	color: white;
}

.topicButton {
	margin: 5px;
	color: black;
	min-width: 10%;
}

.inputArea {
	opacity: 0%;
}

.userInput {
	min-width: 60%;
	border: 2px solid black;
	background-color: white;
}

.submitBtn {
	min-width: 30%;
	margin: 5px auto;
	color: black;
}

.thumbnail {
	display: inline;
	min-height: 10%;
}

.label {
	display: block;
	color: blue;
}
